body {
  background: #222;
  color: white;
}

img {
  max-width: 100%;
}

.outside {
  height: 100px;
}

/* Code Under This Line */

.foo {
  background-color:red;
}

.bar, .fiz {
  background-color:blue;
}

.baz {
  background-color:green;
}

div:nth-of-type(4) {
  background-color:green;
}

a {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: pink;  }
